/*
	Skin Name: Glossy Square Gray
	Class: glossy-square-gray
	Description: Glossy Square Gray skin for Advanced Slider jQuery plugin
	Author: David
*/


/* MAIN SLIDE */

.glossy-square-gray .slide-wrapper {
	background-color: #fff;
}

/* END OF MAIN SLIDE */




/* SLIDESHOW CONTROLS */

.glossy-square-gray .slideshow-controls {
	background: url(images/playpause.png) no-repeat;
	width: 64px;
	height: 64px;
	top: 100%;
	left: 100%;
	margin-top: -32px;
	margin-left: -32px;
}


.glossy-square-gray .slideshow-controls.pause {
	background-position: 0 0;
}


.glossy-square-gray .slideshow-controls.play {
	background-position: -64px 0;
}

/* END OF SLIDESHOW CONTROLS */


/* TIMER ANIMATION */

.glossy-square-gray .timer-animation {
	top: 20px;
	right: 20px;
}

/* END OF TIMER ANIMATION */


/* SLIDE CAPTION */



/* END OF SLIDE CAPTION */



/* this contains the buttons TEMPORIZADOR  */
/*.glossy-square-gray .slide-buttons .buttons-inner a {
	background: url(images/buttons.png) no-repeat;
	background-position: 0 0;
	width: 14px;
	height: 15px;
	margin: 0 2px;
}*/





/* 
 applied to the thumbnail when the thumbnail is used only as a tooltip
 sets the distance between the button and the thumbnail
*/


/* END OF SLIDE BUTTONS/BULLETS */


/* THUMBNAIL IMAGE */

.glossy-square-gray .thumbnail {
	background-color: #d01616;
	border: solid 3px #FFF;
	-webkit-filter: grayscale(100%);	   -moz-filter: grayscale(100%);	    -ms-filter: grayscale(100%);    	     -o-filter: grayscale(100%);	filter: grayscale(100%);
}

/* END OF THUMBNAIL IMAGE */


/* THUMBNAIL SCROLLER */




.glossy-square-gray .thumbnail-scroller .thumbnail.over {
	border: solid 3px #FFF;
	-webkit-filter: grayscale(0%);	   -moz-filter: grayscale(0%);	    -ms-filter: grayscale(0%);    	     -o-filter: grayscale(0%);	filter: grayscale(0%);
}


.glossy-square-gray .thumbnail-scroller .thumbnail.select {
	border: solid 3px #FFF;
	-webkit-filter: grayscale(00%);		   -moz-filter: grayscale(00%);		    -ms-filter: grayscale(00%);    		     -o-filter: grayscale(00%);		filter: grayscale(00%);	}


/* THUMBNAIL CAPTION */

/*.glossy-square-gray .thumbnail .caption .background {
	background-color: #000;
	filter: alpha(opacity=50);
	opacity: 0.5;
}*/


.glossy-square-gray .thumbnail .caption .content { font-family: Raleway;
	color: #FFF;	font-weight: 600;
	font-size: 17px;
	line-height: 18px;
	text-align: left;
	padding: 10px 10px;	padding-right: 10px;	text-shadow: 3px 3px 5px #000000;	
}

/* END OF THUMBNAIL CAPTION */


